<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015246163292-so5leu2g895fpld1vhv4islhr1fl7h3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015246163292-so5leu2g895fpld1vhv4islhr1fl7h3o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015246163292-0nldj9ol6sfg8obdc2teg2er9oofomq2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA71XIS4-MT5NWZ9onOX3qIav7NulcPD8o</string>
	<key>GCM_SENDER_ID</key>
	<string>1015246163292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ug.code.FireChat</string>
	<key>PROJECT_ID</key>
	<string>malazi-3c650</string>
	<key>STORAGE_BUCKET</key>
	<string>malazi-3c650.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015246163292:ios:c065eed80c3acddadcc599</string>
	<key>DATABASE_URL</key>
	<string>https://malazi-3c650.firebaseio.com</string>
</dict>
</plist>